.profile {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.profile:hover,
.profile:focus {
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.219);
}

.description {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description p:not(:last-child) {
  margin-bottom: 10px;
}

.avatar {
  width: 120px;
  margin-bottom: 40px;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.name {
  font-weight: 700;
  font-size: 24px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(210, 210, 218, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats > li {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(181, 181, 182, 0.3);

  padding: 20px 0;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

.stats > li:first-child {
  border-right: 1px solid rgba(181, 181, 182, 0.3);
}

.stats > li:last-child {
  border-left: 1px solid rgba(181, 181, 182, 0.3);
}

.label {
  margin-bottom: 5px;
}

.quantity {
  font-size: large;
  font-weight: 700;
}
