.statistics {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 3px 8px;
}

.statistics:hover,
.statistics:focus {
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.219);
}

.title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.statList {
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid rgba(181, 181, 182, 0.3);
  background-color: rgba(155, 152, 152, 0.3);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 10px) / 5);
  padding: 10px;
}

.item:first-child {
  border-bottom-left-radius: 10px;
}

.item:last-child {
  border-bottom-right-radius: 10px;
}

.label {
  margin-bottom: 5px;
}

.percentage {
  font-size: 22px;
}
