.list {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.116);
  box-shadow: rgba(0, 0, 0, 0.384) 0px 3px 8px;
}

.item:hover,
.item:focus {
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.404);
}

.online {
  width: 22px;
  height: 22px;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 3px 8px;
  border-radius: 50%;
  background: rgb(0, 143, 0);
}

.offline {
  width: 22px;
  height: 22px;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 3px 8px;
  border-radius: 50%;
  background: red;
}

.name {
  font-size: 22px;
}
